.productarea {
	background-color: #fff;
	height: 140px;
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.productarea img {
	width: 55%;
}
.productlistingarea {
	height: auto;
	width: 100%;
	margin: 10px 0 30px 0;
	text-align: center;
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
	padding-bottom: 15px;
	border-radius: 2%;
}
.productlistingarea h5 {
	background-color: #6c9485;
	color: #000;
	padding: 10px;
}
.productlistingarea img {
	width: 200px;
}
.productlistingarea h5,
.productlistingarea p,
.productlistingarea a {
	text-align: center;
	margin: 10px 0;
}
.productlistingarea p {
	padding: 0 10px;
}
.left {
	float: left;
	width: 50%;
}
.right {
	float: right;
	width: 50%;
}
.center {
	text-align: center;
}
.secondarybtn {
	background-color: #aadaf2;
	color: #000;
	border-radius: 2%;
}
